NODE_ENV=development
PORT=4006
DATABASE_URL=
DIRECT_URL=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
JWT_SECRET=
JWT_EXPIRES_IN=
CORS_ORIGIN=http://localhost:5174,http://43.157.223.21:5174,http://43.157.223.21:5176